<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Autobahn - SamsungMessage M1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Autobahn" name="Autobahn" />
    <meta content="Autobahn" name="Autobahn" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />

    <!-- plugin css -->
    <link
      href="../assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- App css -->
    <link
      href="../assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
      id="bs-default-stylesheet"
    />
    <link
      href="../assets/css/app.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-default-stylesheet"
    />

    <link
      href="../assets/css/bootstrap-dark.min.css"
      rel="stylesheet"
      type="text/css"
      id="bs-dark-stylesheet"
    />
    <link
      href="../assets/css/app-dark.min.css"
      rel="stylesheet"
      type="text/css"
      id="app-dark-stylesheet"
    />

    <!-- icons -->
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="loading">
    <!-- Begin page -->
    <div id="wrapper">
      <!-- ============================================================== -->
      <!-- Start Page Content here -->
      <!-- ============================================================== -->

      <!-- ========== Left Sidebar Start ========== -->
      <div class="left-side-menu">
        <!-- LOGO -->
        <div class="logo-box">
          <a href="/" class="logo logo-light text-center">
            <span class="logo-sm">
              <span class="logo-lg-text-light">A</span>
            </span>
            <span class="logo-lg">
              <span class="logo-lg-text-light">Autobahn</span>
            </span>
          </a>
        </div>
        <div class="h-100" data-simplebar>
          <!--- Sidemenu -->
          <div id="sidebar-menu">
            <ul id="side-menu">
              <li class="menu-title">Ver 0.0.1-alpha</li>
              <li>
                <a href="#">
                  <i class="fe-server"></i>
                  <span> Logcat 내역 </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fe-terminal"></i>
                  <span> 실시간 로그 </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fe-type"></i>
                  <span> 키워드 관리 </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fe-settings"></i>
                  <span> 설정 </span>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Sidebar -->

          <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
      </div>
      <!-- Left Sidebar End -->

      <div class="content-page">
        <div class="content">
          <!-- Topbar Start -->
          <div class="navbar-custom">
            <div class="container-fluid">
              <ul class="list-unstyled topnav-menu float-right mb-0">
                <li class="dropdown d-none d-lg-inline-block">
                  <a
                    class="nav-link dropdown-toggle arrow-none waves-effect waves-light"
                    data-toggle="fullscreen"
                    href="#"
                  >
                    <i class="fe-maximize noti-icon"></i>
                  </a>
                </li>

                <li class="dropdown notification-list">
                  <a
                    href="javascript:void(0);"
                    class="nav-link right-bar-toggle waves-effect waves-light"
                  >
                    <i class="fe-github"></i>
                  </a>
                </li>
              </ul>

              <!-- LOGO -->
              <div class="logo-box">
                <a href="index.html" class="logo logo-dark text-center">
                  <span class="logo-sm">
                    <img
                      src="../assets/images/logo-sm-dark.png"
                      alt=""
                      height="24"
                    />
                    <!-- <span class="logo-lg-text-light">Minton</span> -->
                  </span>
                  <span class="logo-lg">
                    <img
                      src="../assets/images/logo-dark.png"
                      alt=""
                      height="20"
                    />
                    <!-- <span class="logo-lg-text-light">M</span> -->
                  </span>
                </a>

                <a href="index.html" class="logo logo-light text-center">
                  <span class="logo-sm">
                    <img
                      src="../assets/images/logo-sm.png"
                      alt=""
                      height="24"
                    />
                  </span>
                  <span class="logo-lg">
                    <img
                      src="../assets/images/logo-light.png"
                      alt=""
                      height="20"
                    />
                  </span>
                </a>
              </div>

              <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                <li>
                  <button class="button-menu-mobile waves-effect waves-light">
                    <i class="fe-menu"></i>
                  </button>
                </li>

                <li>
                  <!-- Mobile menu toggle (Horizontal Layout)-->
                  <a
                    class="navbar-toggle nav-link"
                    data-toggle="collapse"
                    data-target="#topnav-menu-content"
                  >
                    <div class="lines">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </a>
                  <!-- End mobile menu toggle-->
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- end Topbar -->

          <!-- Start Content-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="page-title-box">
                  <div class="page-title"><b>Dashboard</b></div>
                  <a href="/"
                    ><div>
                      <i
                        class="fe-refresh-ccw"
                        style="font-size: 25px"
                      ></i></div
                  ></a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">진입속도 측정</h4>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col-12">
                <button class="btn btn-dark" onclick="play()">
                  <span
                    style="display: none"
                    id="play_spinner"
                    class="spinner-grow spinner-grow-sm mr-1"
                    role="status"
                    aria-hidden="true"
                  ></span>

                  <b id="play_text">PLAY</b>
                </button>
                <button class="btn btn-danger" onclick="stop()">
                  <b id="stop_text">STOP</b>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">진행상황</h4>
              </div>
            </div>

            <div class="progress mb-2">
              <div
                id="test_progress"
                class="progress-bar progress-bar-striped progress-bar-animated bg-dark"
                role="progressbar"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
                style="width: 25%"
              ></div>
            </div>

            <div class="row mb-4">
              <div class="col-xl-3 col-md-6">
                <div class="card bg-dark text-white" id="card1">
                  <div class="card-body">
                    <h3 style="display: inline-block" class="text-white">1.</h3>
                    <h5
                      class="card-title text-white"
                      style="display: inline-block"
                    >
                      Pull
                    </h5>
                    <p class="card-text">gerrit서버에서 clone중입니다.</p>
                  </div>
                </div>
              </div>
              <!-- end col -->

              <div class="col-xl-3 col-md-6">
                <div class="card bg-secondary text-white" id="card2">
                  <div class="card-body">
                    <h3 style="display: inline-block" class="text-white">2.</h3>
                    <h5
                      class="card-title text-white"
                      style="display: inline-block"
                    >
                      Build
                    </h5>
                    <p class="card-text">TRACE옵션을 켜고 Build중입니다.</p>
                  </div>
                </div>
              </div>
              <!-- end col -->

              <div class="col-xl-3 col-md-6">
                <div class="card bg-secondary text-white" id="card3">
                  <div class="card-body">
                    <h3 style="display: inline-block" class="text-white">3.</h3>
                    <h5
                      class="card-title text-white"
                      style="display: inline-block"
                    >
                      Install
                    </h5>
                    <p class="card-text">생성된 APK를 설치중입니다.</p>
                  </div>
                </div>
              </div>
              <!-- end col -->

              <div class="col-xl-3 col-md-6">
                <div class="card bg-secondary text-white" id="card4">
                  <div class="card-body">
                    <h3 style="display: inline-block" class="text-white">4.</h3>
                    <h5
                      class="card-title text-white"
                      style="display: inline-block"
                    >
                      Run
                    </h5>
                    <p class="card-text">진입속도를 측정중입니다.</p>
                  </div>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->

            <div class="row">
              <div class="col-12">
                <h4 class="mb-3">진입속도 그래프</h4>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="dropdown float-right">
                      <a
                        href="#"
                        class="dropdown-toggle arrow-none card-drop"
                        data-toggle="dropdown"
                        aria-expanded="false"
                      >
                        <i class="mdi mdi-dots-horizontal"></i>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                          >설정</a
                        >
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                          >엑셀로저장</a
                        >
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"
                          >엑셀파일업로드</a
                        >
                      </div>
                    </div>

                    <h4 class="header-title">진입속도</h4>

                    <div class="mt-3 text-center">
                      <div class="row pt-2">
                        <div class="col-4">
                          <p class="text-muted font-15 mb-1 text-truncate">
                            최신커밋 진입속도
                          </p>
                          <h4>12.34ms</h4>
                        </div>
                        <div class="col-4">
                          <p class="text-muted font-15 mb-1 text-truncate">
                            오늘 평균 진입속도
                          </p>
                          <h4>
                            <i class="fe-arrow-up text-success"></i> 12.34ms
                          </h4>
                        </div>
                        <div class="col-4">
                          <p class="text-muted font-15 mb-1 text-truncate">
                            저번주 평균 진입속도
                          </p>
                          <h4>
                            <i class="fe-arrow-down text-danger"></i> 12.34ms
                          </h4>
                        </div>
                      </div>
                      <div dir="ltr">
                        <div id="products-sales" class="apex-charts"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end card -->
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- container -->
        </div>
        <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <script>
                  document.write(new Date().getFullYear());
                </script>
                &copy; Autobahn by <a href="">SamsungMessage M1</a>
              </div>
              <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                  <a href="javascript:void(0);">About Us</a>
                  <a href="javascript:void(0);">Help</a>
                  <a href="javascript:void(0);">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- end Footer -->
      </div>

      <!-- ============================================================== -->
      <!-- End Page content -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- Vendor js -->
    <script src="../assets/js/vendor.min.js"></script>

    <!-- KNOB JS -->
    <script src="../assets/libs/jquery-knob/jquery.knob.min.js"></script>
    <!-- Apex js-->
    <script src="../assets/libs/apexcharts/apexcharts.min.js"></script>

    <!-- Plugins js-->
    <script src="../assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="../assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>

    <script>
      //chat data init
      var labels = [
        "a1b1c1d1",
        "a1b1c1d2",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d1",
        "a1b1c1d2",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
        "a1b1c1d3",
      ];
      var series = [
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
        {
          name: "this is apple",
          type: "line",
          data: [
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.1,
            0.2,
            0.3,
            0.7,
          ],
        },
      ];
    </script>

    <!-- Dashboard init-->
    <script src="../assets/js/pages/dashboard-sales.init.js"></script>

    <!-- App js -->
    <script src="../assets/js/app.min.js"></script>
    <script>
      function updateProgress(step) {
        for (var i = 1; i <= 4; i++) {
          if (i == step) {
            $("#card" + i).addClass("bg-dark");
            $("#card" + i).removeClass("bg-secondary");
          } else {
            $("#card" + i).removeClass("bg-dark");
            $("#card" + i).addClass("bg-secondary");
          }
        }
        $("#test_progress").attr("aria-valuenow", step * 25);
        $("#test_progress").css("width", step * 25 + "%");
      }

      function play() {
        $("#play_spinner").css("display", "inline-block");
        $("#play_text").text("RUNNING...");
      }

      function stop() {
        $("#play_spinner").css("display", "none");
        $("#play_text").text("PLAY");
      }

      function init() {
        updateProgress(0);
      }

      window.onload = init();
    </script>
  </body>
</html>
